<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>plain html in pug</title> -->
    <title>#{title}</title>
    style
        include ../static/style.css
</head>

<body>
    <h1> #{heading} </h1>
    <p>
        | This is plain html in pug
    </p>
</body>

</html>